name: build-test-pr

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:

  build-klogging:
    name: Build and test Klogging library from a PR
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
      KLOGGING_MIN_LOG_LEVEL: WARN # Reduce noise in test output

    permissions:
      statuses: write
      pull-requests: write

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Check out everything including tags

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew clean assemble --no-configuration-cache

      - name: Run tests
        run: ./gradlew check --no-configuration-cache

      - name: Code coverage
        run: ./gradlew koverHtmlReport

  build-klogging-apple:
    name: Build apple versions of Klogging library from a PR
    runs-on: macos-latest
    env:
      TERM: xterm-256color
      KLOGGING_MIN_LOG_LEVEL: WARN # Reduce noise in test output

    permissions:
      statuses: write
      pull-requests: write

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Check out everything including tags

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew clean :klogging:linkReleaseFrameworkIosArm64 :klogging:linkReleaseFrameworkIosX64 :klogging:linkReleaseFrameworkIosSimulatorArm64
