name: publish-dokka-github-pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - klogging/src/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2.7.1

      - name: Build
        run: ./gradlew :klogging:dokkaHtml

      - name: Copy files
        run: cp ./klogging/gh-pages/* ./klogging/build/dokka/html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./klogging/build/dokka/html
